body {
  background-image: url("/images/d2_blank.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white !important;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

p.footer {
  color: #CCC;
  width: 100% !important;
  text-align: center;
}

.Results {
  margin: auto;
  width: 500px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 2px 4px #fff !important;
}

.Profile {
  text-align: center;
  margin: auto;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
}
